.icon-48-collectionitems {
      background-image: url(../images/l_collectionitems.png);
      padding-left:60px!important;
}

.icon-48-collectionitem {
      background-image: url(../images/l_collectionitems.png);
      padding-left:60px!important;
}

.icon-48-arrangements {
      background-image: url(../images/l_arrangements.png);
      padding-left:60px!important;
}

.icon-48-arrangement {
      background-image: url(../images/l_arrangements.png);
      padding-left:60px!important;
}

